h4{
  padding-top: 20px;
}

.bg-lg p{
  font-size: 12px;
}

p.right{
  float: right;
}

img.logo{
  float: left;
  padding: 10%;
  width: 100%;
  height: auto;
}

div.bg-lg{
  background-color: lightgray;
}

#left-block{
  background-color: palegreen;
}

#article-header{
  background-color: yellowgreen;
}

#know-header{
  background-color: yellowgreen;
}

#right-block{
  background-color: lightblue;
}

#news-header{
  background-color: lightskyblue;
}

#day-header{
  background-color: lightskyblue;
}

#center-block{
  background-color: lavenderblush;
}

#picture-header{
  background-color: lightpink;
}

body{
  margin-right: 2%;
  font-family: sans-serif;
  
}